/* Свойства стиля элемента. Подробнее о них в модуле по CSS */
.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}

.video-container {
    display: inline-block;
}

header, footer, aside, body, .navbar, .video-container {
    font-family: cursive, sans-serif;
}