<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <link href="../Static/CSS/about.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/about.js"></script>
</head>

<!--SIDEBAR-->
<body>
    <header id="header-index">
        <h1>LifeSpot - о проекте</h1>
        <p>Саранча летела-летела и села</p>
        <p>Всё съела, потом улетела</p>
        <!--SLIDER-->
    </header>

    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Трансляции</p></a>
            <a href="/about"><p>О проекте</p></a>
            <a href="/testing"><p>Тестирование</p></a>
        </div>
    </aside>
    <div class="reviews">
        <button onclick="sendReview()">Оставить отзыв</button>
    </div>
</body>
<!--FOOTER-->

</html>